@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* color: #555; */
    /* font-size: 0.9em; */
    /* background: #000; */
}

* {
    transition: .2s;
}

.link {
    text-decoration: none;
}

input, select {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    border: solid 1px #32782E;
    background: #32782E;
    color: #fff;
    padding: 8px 20px;
    border-radius: 100px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(255, 153, 0);
    border: solid 1px rgb(255, 153, 0);
}

input:focus, select:focus {
    outline: none;
    border: solid 1px #FFA200;
}

input[type="radio"] {
    width: auto;
    margin: 10px;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.formError {
    color: red;
    font-size: small;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header .logo {
    float: left;
    color: #D70F64;
    font-weight: bold;
}

header .logo:hover {
    cursor: pointer;
}

nav {
    float: right;
}

nav span {
    background: #32782E;
    color: #fff;
    padding: 5px 20px;
    border-radius: 100px;
    font-size: small;
    text-transform: uppercase;
}

nav span:hover {
    cursor: pointer;
    background: #FFA200;
}

.login .tabs {
    text-align: center;
    margin-top: 20px;
}

.login .tabs .link {
    color: #333;
}

.login .tabs span {
    background: #efefef;
    padding: 5px 20px;
    border-radius: 100px;
    margin: 0 5px;
    /* font-weight: bold; */
    font-size: small;
    text-transform: uppercase;
}

.login .tabs span:hover {
    cursor: pointer;
    background: #32782E;
    color: #fff;
}

.UserLogin, .RestaurantLogin, .UserSignup, .RestaurantSignup {
    max-width: 350px;
    margin: 80px auto 0 auto;
    border-radius: 10px;
    padding: 0 20px;
}

.Home {
    height: 100vh;
    /* max-width: 1000px;
    margin: auto; */
    /* display: flex;
    align-items: center; */
    /* padding: 20px; */
    height: 100vh;
    background: url('./assets/images/hero.jpg');
    background-size: cover;
}

.Home .container {
    display: flex;
    align-items: center;
    height: 80vh;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.Home h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 4em;
}

/* .your{
    color: #FFA200;
} */

.cravings {
    /* color: #15B50D;
    color: #FFA200; */
}

.Dashboard {
    margin-top: 80px;
}

.searchbar {
    max-width: 600px;
    margin: auto;
    padding: 8px 15px;
    box-shadow: 0px 0 36px 0 #ececec;
    border-radius: 100px;
}

.searchbar input[type="text"] {
    width: 86%;
    border-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px 30px;
}

.searchbar input[type="submit"] {
    width: 100px;
    margin-left: -18px;
    padding: 15px 30px;
}

@media (max-width: 600px) {
    .Home h1 {
        font-size: 3em;
    }
    .searchbar{
        border-radius: 0;
    }
    .searchbar input[type="text"] {
        width: 100%;
        border-radius: 100px;
    }
    .searchbar input[type="submit"] {
        width: 100%;
        margin: auto;
    }
}