@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* color: #555; */
    /* font-size: 0.9em; */
    background: #000;
}

* {
    transition: .2s;
}

.link {
    text-decoration: none;
}

input, select {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 3px;
    border: solid 1px #ccc;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    border: solid 1px #32782E;
    background: #32782E;
    color: #fff;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(255, 153, 0);
    border: solid 1px rgb(255, 153, 0);
}

input:focus, select:focus {
    outline: none;
    border: solid 1px rgb(226, 101, 153);
}

input[type="radio"] {
    width: auto;
    margin: 10px;
}

label {
    color: #fff;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.App {
    height: 100vh;
    background: url('./assets/images/hero.jpg');
    background-size: cover;
}

.formError{
    color: red;
    font-size: small;
}

header {
    overflow: hidden;
    padding: 20px;
}

header .container {
    max-width: 1200px;
    margin: auto;
}

header .logo {
    float: left;
    color: #D70F64;
    font-weight: bold;
}

header .logo:hover {
    cursor: pointer;
}

nav {
    float: right;
}

nav span {
    color: #fff;
}

nav span:hover {
    cursor: pointer;
    color: #FFA200;
}

.login h2 {
    color: #fff;
}

.login .tabs {
    text-align: center;
    margin-top: 20px;
}

.login .tabs .link {
    color: #333;
}

.login .tabs span {
    background: #efefef;
    padding: 8px 16px;
    border-radius: 3px;
    margin: 0 5px;
    font-weight: bold;
}

.login .tabs span:hover {
    cursor: pointer;
    background: #32782E;
    color: #fff;
}

.UserLogin, .RestaurantLogin, .UserSignup, .RestaurantSignup {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 20px;
}

.Home {
    height: 70vh;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
}

.Home h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 4em;
}

/* .your{
    color: #FFA200;
} */

.cravings {
    /* color: #15B50D;
    color: #FFA200; */
}

@media (max-width: 400px) {
    .Home h1 {
        font-size: 3em;
    }
}